#army-shop {
    background-color: white;
}

/* Under er metoden for å style enkeltelementer i CSS fra JS-filen. 
.warriors{
    background-color: blue;
}
*/





.grid-category-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 20px;
}

.warrior-box {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.warriors {
    display: flex;
    flex-direction: row;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 24px;
}

.warriors-img,
.animals-img,
.war-machines-img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.animals {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.war-machines {
    display: flex;
    flex-direction: row;
    align-items: center;
}

