#army-shop{
    background-color: white;
}

/* Under er metoden for å style enkeltelementer i CSS fra JS-filen. 
.warriors{
    background-color: blue;
}
*/

.warriors{
    background-color: white;
}


.grid-category-row{
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 20px;
}

.warriors{
    display: flex; 
    align-items: center;
    gap: 24px;
}

.animals{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.war-machines{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warriors-img, .animals-img, .war-machines-img {
    width: 100px; 
    height: auto;
    margin-bottom: 10px;
}
