#army-shop{
    background-color: pink;
}

/* Under er metoden for å style enkeltelementer i CSS fra JS-filen. 
.warriors{
    background-color: blue;
}
*/

.warriors{
    background-color: rgb(152, 152, 187);
}