/*
    Do you need a dedicated CSS file per HTML page in addition to main.css?
*/
.gather-resources{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}
.gather-resources img{
    max-width: 100%;
    width: 800px;
    border-radius: 15%;
}

.sell-resources{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40%;
    margin-top: 20px;
}

.sell-resources button{
    max-width: 100%;
    width: 100px;
}

#clear-local-storage{
    background-color: red;
    color: white;
}

#mines-of-thiartha:hover {
    cursor: url("/arbeidskrav-webutvikling-24/images/pickaxe-cursor.png"), auto;
}

#woods-of-ghalduz:hover {
    cursor: url("/arbeidskrav-webutvikling-24/images/axe-cursor.png"), auto;
}