/*
    Do you need a dedicated CSS file per HTML page in addition to main.css?
*/
.gather-resources{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}
.gather-resources img{
    width: 800px;
    border-radius: 15%;
}